/* General body styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #4c6b23;
  margin: 0;
  padding: 20px;
  justify-content: center;
}

nav {
  position: sticky;
  top: 0;
  background-color: #182b0aff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  justify-conetent: left;
    }



    nav a, .dropbtn {
      color: white;
      font-weight: bold;
      text-decoration: none;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 100%;     /* Places it directly below the button */
      left: 0;       /* Aligns it with the left edge of the button */
      background-color: #253012;
      min-width: 160px;
      z-index: 1;
      border-radius: 4px;
      box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
      align-items: center;
    }

    .dropdown-content a {
      display: block;
      padding: 10px;
      color: white;
      text-decoration: none;
    }

    .dropdown-content a:hover {
      background-color: #3b4a21;
    }

 footer {
      background: #182b0aff;
      font-family: 'Courier New', Courier, monospace;
      color: white;
      text-align: left;
      padding: 15px;
      margin-top: 40px;
    }
footer p {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  vertical-align: right;
  transition: transform 0.3s ease;
}

.article-image {
  width: 100%;
  max-width: 600px;
  height: 400px;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
}

/* Headings */
h1 {
  color: #213320;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 55px;
  text-align: center;
  padding: 50px;
  text-decoration: underline;
}

/* Paragraphs */
p {
  font-size: 30px;
  text-align: left;
  justify-content: center:
}

.p2{
  font-family: 'Merriweather', serif;
  font-weight: 200;
  font-size: 38px;
  text-align: center;
}

.p1{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f1ffc9;
  margin-bottom: 10px;
  width: 700px;
}
