/* General body styling */
body {
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 20px;
}

nav {
      background-color: #182b0aff;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      gap: 20px;
    }

    nav a, .dropbtn {
      color: white;
      font-weight: bold;
      text-decoration: none;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }

    .dropdown {
      position: relative;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #253012;
      min-width: 160px;
      z-index: 1;
      top: 100%;
      left: 0;
      border-radius: 4px;
      box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    }

    .dropdown-content a {
      display: block;
      padding: 10px;
      color: white;
      text-decoration: none;
    }

    .dropdown-content a:hover {
      background-color: #3b4a21;
    }

 footer {
      background: #182b0aff;
      font-family: 'Courier New', Courier, monospace;
      color: white;
      text-align: left;
      padding: 15px;
      margin-top: 40px;
    }

/* Headings */
h1 {
  color: #213320;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 55px;
  text-align: center;
  padding: 50px;
}

/* Paragraphs */
p {
  font-size: 30px;
  line-height: 1.6;
  text-align: center;
}
